:root {
  --primary-color: #61dafb;
  --secondary-color: #282c34;
  --text-color: white;

  --primary-color-hover: #303540;
  --secondary-color-hover: #61dafb;
  --text-color-hover: white;

  --primary-color-active: #282c34;
  --secondary-color-active: #61dafb;
  --text-color-active: white;

  --primary-color-focus: #282c34;
  --secondary-color-focus: #61dafb;
  --text-color-focus: white;

  --site-height: 100vh;

  --header-height: 15vh;

  --body-height: calc(var(--site-height) - var(--header-height));

}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Scout-Grapher-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: var(--header-height);
}

.Scout-Grapher-title {
  width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    font-size: 160%;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.Logo {
  width: 4vw;
}

/* width */
::-webkit-scrollbar {
  width: .1em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
}

.header-divisions {
  display: flex;
  flex-direction: row;
  padding: 1% 2%;
  gap: 2%;
}

.Scout-Grapher {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  color: white;
  display: grid;;
  grid-template-rows: var(--header-height) var(--body-height);
}

.custom-file-input {
  color: transparent;
  margin: 0 1rem;
  padding: 0;
  border: 0;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}



.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

button {
  background-color: #61dafb;
  color: #282c34;
  font-size: 1.5em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #61dafb;
  border-radius: 3px;
  transition: .2s all;
}

.Team-Data {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

input {
  background-color: #282c34;
  color: #61dafb;
  font-size: 1.5em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #61dafb;
  border-radius: 3px;
}


button:hover {
  background-color: #282c34;
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.body {
  display: flex;
  height: 100%
}

.body-left, .body-right {
  background-color: #282c34;
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.body-left-top, .body-left-bottom, .body-right-top, .body-right-bottom {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team-page, .pick-list-page {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: var(--body-height)
}

.team-page-list {
  height: inherit;
  display: grid;
  text-align: center;
}

.team-list {
  overflow: auto;
}

.team-page-info {
  display: grid;
  overflow: auto;
}

.team-page-info-top {
  padding-bottom: 1rem;
  background-color: #24272d;
}

.team-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20vh;
  width: 100%;
}

.team-info div {
  overflow: auto;
}

.title {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #303540;
  transition: .2s all;
  padding: 1%;
}

.title * {
  margin: 0;
}

.team-info div .title {
  position: sticky;
  top: 0;
}

 .team-page-graph {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
}
.pick-list-page-lists {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 5%;
  padding: 5%;
  overflow: auto;
}

.pick-list-page-list {
  background-color: var(--primary-color-hover);
  transition: .2s all;
}

.pick-list {
  width: 80%;
}

.enabled {
  border: .1rem solid #61dafb;
}

.disabled {
  opacity: .5;
}

.pick-list-item {
  border-bottom: solid .1rem;
  width: 100%;
  text-align: center;
  transition: .25s all;
  position: relative;
}

.pick-list-item input {
  border: none;
  padding: 0;
  max-width: 2.5vw;
  position: absolute;
  left: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pick-list-item h4 {
  position: absolute;
  right: 0.5rem;
  top: 0.15rem;
  margin: 0;
}

.pick-list-item h4:hover {
  color: var(--secondary-color-hover);

}

.team-page-graph-auto, .team-page-graph-tele, .team-page-graph-end, .pick-list-page-list {
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
  grid-auto-rows: max-content;
  text-align: center;
}

.chart-container {
  width: 100%;
  height: 100%;
}

.charts-wrapper {
  width: 100%;
  /* height: 70vh; */
  display: grid;
  gap: 5%;
  text-align: center;
  align-items: center;
  align-content: center;
}

.team-list-table {
  width: 100%;
  text-align: center;
  transition: .2s all;
}

.team-list-table tr {
  border-bottom: 1px solid #61dafb;
}





.team-list-table tr:hover {
  background-color: white;
  color: red;
  font-style: italic;
  font-weight: bolder;
}

select {
  border: #282c34 solid;
  color: aliceblue;
  background-color: #303540;
}

.team-list select {
  position: sticky;
  top: 0;
}

.team-list-table td {
  padding: 1%;
}

.team-list-table th {
  padding: 1%;
  border-bottom: .25rem solid #282c34;
}



.team-list-table tr:nth-child(even) {
  background-color: #282c34;
}

.team-list-table thead {
  background-color: #61dafb;
  color: #282c34;
  position: sticky;
  top: 0;
  
}

.team-list-table tr:nth-child(odd) {
  background-color: #61dafb;
}
