:root {
  --primary-color: #61dafb;
  --secondary-color: #282c34;
  --text-color: white;

  --primary-color-hover: #282c34;
  --secondary-color-hover: #61dafb;
  --text-color-hover: white;

  --primary-color-active: #282c34;
  --secondary-color-active: #61dafb;
  --text-color-active: white;

  --primary-color-focus: #282c34;
  --secondary-color-focus: #61dafb;
  --text-color-focus: white;

  --site-height: 100vh;

  --header-height: 15vh;

  --body-height: calc(var(--site-height) - var(--header-height));

}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Scout-Grapher-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: var(--header-height);
}

.Logo {
  width: 4vw;
}

header {
}

.header-divisions {
  display: flex;
  flex-direction: row;
  padding: 1% 2%;
  gap: 2%;
}

.Scout-Grapher {
  background-color: #282c34;
  height: 100vh;
  color: white;
  display: grid;;
  grid-template-rows: var(--header-height) var(--body-height);
}

button {
  background-color: #61dafb;
  color: #282c34;
  font-size: 1.5em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #61dafb;
  border-radius: 3px;
}

.Team-Data {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

input {
  background-color: #282c34;
  color: #61dafb;
  font-size: 1.5em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #61dafb;
  border-radius: 3px;
}


button:hover {
  background-color: #282c34;
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.body {
  display: flex;
  height: 100%
}

.body-left, .body-right {
  background-color: #282c34;
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.body-left-top, .body-left-bottom, .body-right-top, .body-right-bottom {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team-page {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: var(--body-height)
}

.team-page-list {
  height: inherit;
  display: grid
}

.team-list {
  overflow: auto;
}

 .team-page-graph {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
}

.team-page-graph-auto, .team-page-graph-tele, .team-page-graph-end {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
  justify-items: center;
  grid-auto-rows: max-content;
}

.chart-container {
  width: 100%;
  height: 100%;
}